<footer>
    <div class="container">
        <div class="social-media">
          
        </div>
        <div class="copyright">
          &copy; 2024 Myntra All Rights Reserved
        </div>
        <div class="emojis">
            <br>
            <br>
            <br>
            <br>
            <br>
            <p>Made with  &#127829; , &#9749; and <span style="color: #ff0000;">&#10084;</span> </p>
        </div>
      </div>
</footer>