<h1> Sign Up </h1><br><br>
<form action="/users/create" method="POST">
    <input type="text" name="name" placeholder="Your Name" required><br><br>
    <input type="text" name="email" placeholder="Your Email" required><br><br>
    <input type="password" name="password" placeholder="Password" required><br><br>
    <input type="password" name="confirm-password" placeholder="Confirm Password" required><br><br><br>
    <input type="submit" value="sign up"><br><br>
</form>

<p>
    <a href="/users/auth/google">Google SignIn/ SignUp</a><br><br><br><br><br><br>
</p>